.DS_Store
.venv
__pycache__
*.pyc
*.pyo
dist
data/*
!data/.gitkeep
.idea/*
!.idea/runConfigurations/
.env
**/.env
/module_text_llm/module_text_llm/text_evaluation/evaluations/
/module_text_llm/module_text_llm/text_evaluation/data/
