{
    email paul.schwind@tum.de
}
{$ATHENA_DOMAIN}

handle_path /traefik/* {
    reverse_proxy http://module_cofee_old:8080
}
handle_path /api/* {
    reverse_proxy http://module_cofee_old:8080/api
}

reverse_proxy http://assessment_module_manager:5000
