version: '3.8'

# The production version directly uses the Docker images from the registry.

services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ${ATHENA_DOMAIN:-localhost}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile

  assessment_module_manager:
    env_file:
      - ${ATHENA_ENV_DIR:-./env_example}/assessment_module_manager.env
    image: ghcr.io/pal03377/athena_assessment_module_manager:latest

  module_example:
    hostname: module_example
    env_file:
      - ${ATHENA_ENV_DIR:-./env_example}/module_example.env
    image: ghcr.io/pal03377/athena_module_example:latest

  module_programming_llm:
    hostname: module_programming_llm
    env_file:
      - ${ATHENA_ENV_DIR:-./env_example}/module_programming_llm.env
    image: ghcr.io/pal03377/athena_module_programming_llm:latest

  module_text_llm:
    hostname: module_text_llm
    env_file:
      - ${ATHENA_ENV_DIR:-./env_example}/module_text_llm.env
    image: ghcr.io/pal03377/athena_module_text_llm:latest

  module_text_cofee:
    hostname: module_text_cofee
    env_file:
      - ${ATHENA_ENV_DIR:-./env_example}/module_text_cofee.env
    image: ghcr.io/pal03377/athena_module_text_cofee:latest

