body {
  --apollon-primary: #4299e1;
  --apollon-primary-contrast: #212529;
  --apollon-secondary: #6c757d;
  --apollon-alert-warning-yellow: #ffc107;
  --apollon-alert-warning-background: #fff3cd;
  --apollon-alert-warning-border: #ffeeba;
  --apollon-background: white;
  --apollon-background-inverse: #000000;
  --apollon-background-variant: #f8f9fa;
  --apollon-gray: #e9ecef;
  --apollon-grid: rgba(36, 39, 36, 0.1);
  --apollon-gray-variant: #495057;
  --apollon-alert-danger-color: #721c24;
  --apollon-alert-danger-background: #f8d7da;
  --apollon-alert-danger-border: #f5c6cb;
  --apollon-switch-box-border-color: #dee2e6;
  --apollon-list-group-color: #ffffff;
  --apollon-btn-outline-secondary-color: #6c757d;
  --apollon-modal-bottom-border: #e9ecef
}